<p id="notice"><%= notice %></p>

<div class='topic-details'>
<%=markdown("

##**Topic Overview**

**Name:** #{@topic.name}

**Docs:** #{link_to @topic.docs_url, @topic.docs_url}

**Description:** #{@topic.description}")%>
</div>

<div class='topic-links'>
<%=markdown("###**Available Resources**")%>
<% @resources.each do |t| %>
  <%=  markdown("* #{link_to t.name, t}") %>
<% end %>
</div>

<div class='bottom-nav'>
  <%= markdown("#{link_to 'Edit', edit_topic_path(@topic)} | #{link_to 'Back', topics_path } | #{ link_to 'Home', root_path }") %>
</div>
