<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @topic.name %>
</p>

<p>
  <strong>Docs:</strong>
  <%= link_to @topic.docs_url, @topic.docs_url %>
</p>

<p>
  <strong>Description:</strong>
  <%= @topic.description %>
</p>

<% @topic.resources.each do |t| %>
<p> <%= link_to t.name, t %> </p>
    <% end %>

<%= link_to 'Edit', edit_topic_path(@topic) %> |
<%= link_to 'Back', topics_path %> |
<%= link_to 'Home', root_path %>
