<h1>New User</h1>

  <!-- <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %> -->

  <form action="/users" method="post">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" />
      First Name: <input type="text" name="user[first_name]"><br>
      Last Name:  <input type="text" name="user[last_name]"><br>
      Email: <input type="text" name="user[email]"><br>
      Password: <input type="password" name="user[password]"><br>

      Cohort: <select name="user[cohort_id]">
                <% @cohorts.each do |t| %>
                <option value="<%=t.id%>"><%=t.name%></option>
                <% end %>
              </select>

      <input type="submit">
  </form>

<%= link_to 'Back', users_path %>
