<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @user.last_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Cohort:</strong>
  <%= @user.cohort.name %>
</p>

<% if current_user %>
  <% if current_user.id == @user.id %>
    <%= link_to 'Edit', edit_user_path(@user) %>
    <%= link_to 'Destroy', @user, method: :delete, data: { confirm: 'Are you sure?' } %>
  <% end %>
<% end %>
