<p id="notice"><%= notice %></p>

<h1>Listing Resources</h1>

<table>
  <thead>
    <tr>
      <th>Week</th>
      <th>Name</th>
      <th>Description</th>
      <th>Link</th>
      <th>Last Edited By</th>
      <th colspan="3">User Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @resources.each do |resource| %>
      <tr>
        <td><%= resource.week %></td>
        <td><%= link_to resource.name, resource %></td>
        <td><%= resource.description %></td>
        <td><%= link_to "Go", "#{resource.link}" %></td>
        <td><%= resource.user.name %></td>
        <td><%= link_to 'Show', resource %></td>
        <td><%= link_to 'Edit', edit_resource_path(resource) %></td>
        <td><%= link_to 'Destroy', resource, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Resource', new_resource_path %>
