<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @resource.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @resource.description %>
</p>

<p>
  <strong>Link:</strong>
  <%= link_to @resource.link, @resource.link %>
</p>

<p>
  <strong>Logo:</strong>
  <img src="<%= @resource.img_url %>" height="42" width="42"/>
</p>

<p>
  <strong>Week:</strong>
  <%= @resource.week %>
</p>

<p>
  <strong>User:</strong>
  <%= @resource.user.name %>
</p>

<p>
  <label for="comments"> Comments: </label>
  <p><%= Comment.find(@resource).content %> - <%= Comment.find(@resource).user.first_name %> </p>

<%= link_to 'Edit', edit_resource_path(@resource) %> |
<%= link_to 'Back', resources_path %> |
<%= link_to 'Home', root_path %>
