<p id="notice"><%= notice %></p>

<div class='resource-info'>
<%= markdown("
  **Name:**
  #{@resource.name}

  **Last Updated:**
  #{ @resource.updated_at }

  **Description:**
  #{ @resource.description }

  **Link:**
  #{ link_to @resource.link, @resource.link }

  **Logo:**
  #{image_tag @resource.img_url, height:42 }

  **Week:**
  #{ @resource.week }

  **User:**
  #{ @resource.user.name }
  ")%>
</div>

<div id="resource-comments" >

    <%=markdown("**<label for='comments'> Comments: </label>**")%>
    <% @comments.each do |comment| %>
      <%= markdown( "* #{comment.content} - #{comment.user.first_name }") %>
    <% end %>

    <button><%= link_to "Add New Comment", new_comment_path(:linked_resource => @resource.id) %></button>

</div>

<br>

<%= link_to 'Edit', edit_resource_path(@resource) %> |
<%= link_to 'Back', resources_path %> |
<%= link_to 'Home', root_path %>
