<p id="notice"><%= notice %></p>

<div class='resource-info'>
<%= markdown("
  **Name:**
  #{@resource.name}

  **Last Updated:**
  #{ @resource.updated_at }

  **Description:**
  #{ @resource.description }

  **Link:**
  #{ link_to @resource.link, @resource.link }

  **Logo:**
  #{image_tag @resource.img_url, height:42 }

  **Week:**
  #{ @resource.week }

  **User:**
  #{ @resource.user.name }
  ")%>


  <%= markdown("##**Topics:**") %>
  <% @topics.each do |t| %>
      <li><%=link_to t.name, topic_path(t.id)%></li>
  <% end %>

</div>

<br>

<% if current_user %>
  <%= link_to 'Edit Item', edit_resource_path(@resource) %>
  <%= link_to 'Destroy', @resource, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>

<div id="resource-comments" >

    <%=markdown("**<label for='comments'> Comments: </label>**")%>
    <% @comments.each do |comment| %>
      <%= markdown( "* #{comment.content} - #{comment.user.first_name }") %>
    <% end %>

    <% if current_user %>
      <button><%= link_to "Add New Comment", new_comment_path %></button>
    <% else %>
      <button id="please-login" href="/login">Login</button>
    <% end %>

</div>

<br>


<%= link_to 'Back', resources_path %> |
<%= link_to 'Home', root_path %>
