<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @resource.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @resource.description %>
</p>

<p>
  <strong>Link:</strong>
  <%= @resource.link %>
</p>

<p>
  <strong>Img url:</strong>
  <%= @resource.img_url %>
</p>

<p>
  <strong>Week:</strong>
  <%= @resource.week %>
</p>

<p>
  <strong>User:</strong>
  <%= @resource.user %>
</p>

<%= link_to 'Edit', edit_resource_path(@resource) %> |
<%= link_to 'Back', resources_path %>
