<!DOCTYPE html>
<html>
<head>
  <title>PanicButton</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div id="main-nav">
    <% if !current_user %>
      <a href="/login">Login</a> |
    <% else %>
      <a href="/logout">Logout</a> |
    <% end %>
    <%= link_to "Home", root_path %> |
    <%= link_to "Topics", topics_path %> |
    <%= link_to "Users", users_path %> |
    <%= link_to "Resources", resources_path %> |
    <span id="panic-button">
      <%=link_to "AGH AGH AGH AGH", '/it-is-gonna-be-fine' %>
    </span>

  </div>


<div id="main-body-container">
  <%= yield %>
</div>

</body>
</html>
